<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Css/main.css">
    <link rel="stylesheet" href="/Css/bootstrap.css">
    <title>Login</title>
</head>

<body style="background-color: rgba(25, 50, 66, 0.411);">
    <center>
        <h1>Bienvenido a CQL-Teacher</h1>
    </center>
    <div class="form">
        <form action="/Login" method="get">
            <center>
                <h1>Iniciar Sesión</h1>
            </center>
            <br>
            <center>
                <input id="nombreUsuario" name="nombreUsuario" placeholder="Usuario">
                <br>
                <br>
                <input id="password" name="password" type="password" placeholder="Contraseña">
                <br>
                <br>
                <button type="submit" formmethod="post" class="btn btn-success">Iniciar Sesión</button>
            </center>
        </form>
    </div>
    <script src="/Js/Jquery.js"></script>
    <script src="/Js/bootstrap.js"></script>
    <script src="/Js/Login.js"></script>
</body>

</html>