<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../Web/Css/bootstrap.css">
    <link rel="stylesheet" href="../Web/Css/main.css">
    <title>Modos</title>
</head>

<body style="background-color: rgba(25, 50, 66, 0.411);">
    <center>
        <div class="modos">
            <center>
                <h2>Seleccione el modo deseado</h2>
            </center>
            <button id="img-modo" onclick="gotoBeginnerMode()">
                <img style="width: 90px;" src="../Web/resources/noob.png">
            </button>
            <h5>Modo Principante</h6>
            <br>
            <button id="img-modo" onclick="gotoMiddleMode()">
                <img style="width: 90px;" src="../Web/resources/intermedio.png">
            </button>
            <h5>Modo Intermedio</h6>
            <br>
            <button id="img-modo">
                <img style="width: 90px;" onclick="gotoAdvancedMode()" src="../Web/resources/avanzado.png">
            </button>
            <h5>Modo Avanzado</h6>
        </div>
    </center>
    <script src="../Web/Js/Modes.js"></script>
</body>

</html>